<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content="{{ eleventy.generator }}" />
  <link rel="stylesheet" href="/styles.css" />
  <title>Two Word Domains</title>
</head>

<body>
  <div class="min-h-screen bg-gradient-to-br from-blue-100 to-orange-100 flex flex-col items-center justify-center p-4">
    <div class="max-w-2xl w-full bg-white rounded-2xl shadow-xl p-8 text-center">
      <h1 class="text-4xl font-bold text-gray-800 mb-6">Two Word Domains</h1>
      <p class="text-gray-600 mb-8">Discover your perfect domain name</p>

      <div class="mb-8 flex flex-col gap-4 justify-items-center ">
        <p id="domainDisplay" class=" max-w-full text-3xl font-mono text-blue-600 mb-4"></p>
        <div class="flex flex-row gap-2 justify-center">
          <button id="domainDisplayReverse" class="max-w-1/2 bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-4 rounded-lg transition duration-300 transform hover:scale-105">
            switch word order
          </button>
          <button id="checkAvailabiltyButton" class="max-w-1/2 bg-blue-500 hover:bg-blue-600 text-white font-bold py-1 px-4 rounded-lg transition duration-300 transform hover:scale-105">
            check domain availabilty
          </button>
        </div>
        <button id="generateButton" class="mx-auto w-1/2 bg-orange-500 hover:bg-orange-600 text-white font-bold py-3 px-6 rounded-lg transition duration-300 transform hover:scale-105">
          Generate New Domain
        </button>
      </div>


    </div>
  </div>

  <script type="module">
    import { words } from "./js/words.js";

    const domainDisplay = document.getElementById("domainDisplay");
    const domainDisplayReverse = document.getElementById("domainDisplayReverse");
    const checkAvailabiltyButton = document.getElementById("checkAvailabiltyButton");
    const generateButton = document.getElementById("generateButton");

    let order = "normal"
    let firstWord;
    let secondWord;

    const updateDomain = () => {

      const randomWord = () => {
        return words[Math.floor(Math.random() * words.length)];
      }
      // Get two random words from the words array
      firstWord = randomWord();
      secondWord = randomWord();

      domainDisplay.textContent = `${firstWord}${secondWord}.com`
    }

    const switchOrder = () => {
      console.log("switchOrder", order)
      if (order == 'normal') {
        order = 'reverse'
        domainDisplay.textContent = `${firstWord}${secondWord}.com`
      } else {
        order = 'normal'
        domainDisplay.textContent = `${secondWord}${firstWord}.com`
      }
    }

    const checkAvailabilty = ()=>{
      let url = `https://www.godaddy.com/en-uk/domainsearch/find?domainToCheck=${domainDisplay.textContent}`
      window.open(url, '_blank').focus();
    }

    updateDomain()

    // Add click event listener
    generateButton.addEventListener("click", updateDomain);
    domainDisplayReverse.addEventListener("click", switchOrder);
    checkAvailabiltyButton.addEventListener("click", checkAvailabilty);
  </script>
</body>

</html>