---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all -%}
  {#- Only include the page in the sitemap if 'includeInSitemap' is set to true -#}
      <url>
        <loc>{{ site.baseURL }}{{ page.url | url }}</loc>
        <changefreq>monthly</changefreq>
        <priority>0.1</priority
      </url>

  {%- endfor %}
</urlset>